﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-9">
        <h2>PetsLib in Action</h2>
        <p>To view the PetsLib in use (DI to controller) sourcing from Live API - click PersonalPets in menu.</p>
    </div>
</div>
