﻿@model IDictionary<string,List<LibPets.Models.Pet>>

@{
    ViewData["Title"] = "PersonalPets";
}

<div class="row">
    <div class="col-md-6">
        <h2>Results:</h2>
        @foreach (var mkvp in Model)
        {
            <h5>@mkvp.Key</h5>
            <p>
                <ul>
                    @foreach (var pet in mkvp.Value)
                    {
                        <li>@pet.Name</li>
                    }
                </ul>
            </p>

        }
    </div>
    <div class="col-md-6">
        <h3>About:</h3>
        <ul>
            <li>Controller makes use of Dependency Injection</li>
            <li>View makes use of domain model (can display more model data if required)</li>
            <li>Sample site using ASP.NET Core MVC (boilerplate) deploy anywhere!</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            <li>View <a href="../../PersonalPets/ViewType/Fish">Fish</a></li>
        </ul>
    </div>
</div>